{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~/*": "./src",
          "assets": "./assets",
          "src": "./src",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
